/* ページ全体のレイアウト */
body {
  font-family: Arial, sans-serif; /* フォント統一 */
  max-width: 600px;               /* 最大幅 */
  margin: 40px auto;              /* 上下、中央寄 */
  background: #f5f5f5;          /* 背景色 */
  padding: 16px;                  /* 内側余白 */
}

/* アプリ全体のコンテナ */
.container {
  max-width: 600px;   /* 最大幅 */
  margin: 0 auto;     /* 中央寄せ */
  background: #fff; /* 背景色 */
  padding: 20px;      /* 内側余白 */
  border-radius: 10px; /* 角丸 */
}

/* 見出しの中央揃え */
h1 {
  text-align: center; /* テキスト中央配置 */
}

/* 入力フォームエリア */
.form-area {
  display: flex;       /* 横並び */
  gap: 8px;            /* 間隔 */
  margin-bottom: 20px; /* 下側余白 */
}

/* タスク入力欄 */
input {
    width: 70%;      /* 横幅調整 */  
    padding: 10px;   /* 内側余白 */
    font-size: 16px;
}

/* ボタンの共通スタイル */
button {
  padding: 10px 16px;    /* 内側余白 */
  border: none;          /* 枠線を削除 */
  background: #4caf50; /* 背景色 */
  color: white;        /* 文字色 */
  cursor: pointer;       /* マウスを乗せたときに手の形にする */
  border-radius: 4px;    /* 角丸 */
}

/* タスク一覧 */
.task-card {
  background: #fff;             /* 背景 */
  border-radius: 10px;            /* 角丸 */
  padding: 12px 16px;             /* 余白 */
  margin-bottom: 10px;            /* 間隔 */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* 立体感 */
  display: flex;                  /* 横並び */
  justify-content: space-between; /* 左右に要素を分散配置 */
  align-items: center;            /* 縦方向の中央揃え */
}

/* タスク一覧タスク文字スタイル */
.task-title {
  font-size: 16px;
  font-weight: bold;
}

/* ------------------------------------------------- Modified Day33 */
/* タスク一覧状態表示完了済みタスク */ /* 追加 */
.completed {
  color: green;
  font-weight: bold;
}

/* タスク一覧状態表示未完了タスク */ /* 追加 */
.pending {
  color: red;
  font-weight: bold;
}
/* ------------------------------------------------- End Modified Day33 */

/* タスク一覧ボタン群レイアウト*/
* ボタン群レイアウト*/
.task-actions {
  display: flex; /* 横並び */
  gap: 8px;      /* 間隔 */
}
