/* ページ全体のレイアウト */
body {
  font-family: Arial, sans-serif; /* フォント統一 */
  max-width: 600px;               /* 最大幅 */
  margin: 40px auto;              /* 上下、中央寄 */
  background: #f5f5f5;          /* 背景色 */
  padding: 16px;                  /* 内側余白 */
}

/* アプリ全体のコンテナ */
.container {
  max-width: 600px;   /* 最大幅 */
  margin: 0 auto;     /* 中央寄せ */
  background: #fff; /* 背景白 */
  padding: 20px;      /* 内側余白 */
  border-radius: 10px; /* 角丸 */
}

/* 見出しの中央揃え */
h1 {
  text-align: center; /* テキスト中央配置 */
}

/* 入力フォームエリア */
.form-area {
  display: flex;       /* 横並び */
  gap: 8px;            /* 間隔 */
  margin-bottom: 20px; /* 下側余白 */
}

/* タスク入力欄 */
input {
    width: 70%;      /* 横幅調整 */  
    padding: 10px;   /* 内側余白 */
    font-size: 16px;
}

/* ボタンの共通スタイル */
button {
  padding: 10px 16px;    /* 内側余白 */
  border: none;          /* 枠線を削除 */
  background: #4caf50; /* ボタンの背景色（緑） */
  color: white;        /* 文字色（白） */
  cursor: pointer;       /* マウスを乗せたときに手の形にする */
  border-radius: 4px;    /* 角丸 */
}

/* リスト */
li {
  background: #fafafa; /* 背景色 */
  margin-bottom: 10px;   /* 上下余白 */
  padding: 12px;         /* 内側余白 */
  border-radius: 4px;    /* 角丸 */
  list-style: none;      /* 黒い点（・）を消す */
}
